header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #16213e;
  padding: 15px 30px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  position: relative;
}

/* body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */
.page-container {
  max-width: 1200px; /* or whatever fixed size you prefer */
  margin: 0 auto; /* center horizontally */
  padding: 2rem; /* consistent spacing inside */
  min-height: 100vh; /* full screen height */
  box-sizing: border-box; /* include padding in width/height */
}

#root {
  width: 100vw;
  min-height: 100vh;
  background-color: aliceblue;
  color: #1e293b;
  /* max-width: 100%; */
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
}

@media (max-width: 2040px) {
  .page-container {
    padding: 1.5em;
  }

  header {
    padding: 12px 24px;
  }
}

@media (max-width: 768px) {
  .page-container {
    padding: 1rem;
  }

  header {
    flex-direction: column;
    align-items: flex-start;
    padding: 12px 24px;
  }

  header h1 {
    padding: 1.5rem;
  }
}

@media (max-width: 480px) {
  .page-container {
    padding: 0.8rem;
  }

  header {
    /* flex-direction: column;
    align-items: flex-start; */
    padding: 8px 16x;
  }

  header h1 {
    padding: 1.2rem;
  }
}


