.about-page {
  width: 100vw;
  min-height: 100vh;
  text-align: center;
  color: #333;
}

.about-hero {
  background: url("../assets/about-bg.jpeg") no-repeat center/cover;
  padding: 80px 20px;
  color: white;
}

.about-content {
  /* max-width: 800px; */
  margin: auto;
  padding: 20px;
  background: white;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.about-content h2 {
  margin-top: 20px;
}

.team-image {
  width: 100%;
  border-radius: 10px;
  margin-top: 20px;
}
